.background {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.search-border{
    border: #f1f1f1 2px solid;
    color: #f1f1f1;
}
.search-border:hover{
    background-color:  #f1f1f1;
    color:#c31432 ;
}
.readmore-background{
    background-color: #c31432;
}
.readmore-background:hover{
    background-color: #c31432;
}